language: php

sudo: false

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

before_install:
  - composer self-update

install:
  - composer install --no-interaction --prefer-source

before_script:
  - composer create-project --prefer-source --no-interaction jakub-onderka/php-parallel-lint vendor/php-parallel-lint ~0.8
  - php vendor/php-parallel-lint/parallel-lint.php -e php,phpt --exclude vendor .
  - composer create-project --prefer-source --no-interaction nette/code-checker vendor/code-checker ~2.2
  - php vendor/code-checker/src/code-checker.php --short-arrays -d src
  - php vendor/code-checker/src/code-checker.php --short-arrays -d tests

script: vendor/bin/tester -p php ./tests/

after_failure:
  - 'for i in $(find ./tests -name \*.actual); do echo "--- $i"; cat $i; echo; echo; done'
